main.container{
  display: flex; 
  margin-top: 10px;  
} 
.text-container {
    width: 40%;
    padding-bottom: 20px;
}
.text-container h1{
    font-size: 60px;
    margin-bottom: 0.6cm;
}
nav{
    padding:15px;
}

nav .container {
    display: flex;
    align-items: center;
}

.logo-name h1 {
    letter-spacing: 5px;
    font-size: 20px;
}


.nav-links {
    margin-left:auto;
}
.nav-links ul{
    display:flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    
}
.nav-links li{
    padding: 0px 30px;
}
.nav-links{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-weight: 50px;
}

.nav-links:hover {
    color: red;
}
a:hover, a:active {
    color: yellow;

}
.nav-links{
    font-weight: 600;
}
a{
    color: white;
}

a:link {
    text-decoration: none;
}
a:active {
    color:white;
}
@keyframes example {
  from {background-color: yellow;}
  to {background-color: red;}
	0%   {background-color:red; left:130px; right:90px;}	
	33%  {background-color:pink; left:-200px; right:90px;}	
	66%  {background-color:yellow; left:200px; right:105px;}
	100% {background-color:pink; left:0px; right:0px;}
}


.off{
  	animation-name: example;
  	animation-duration: 6s;
	animation-delay: 1s;
	animation-direction: reverse;
	position: relative;
	font-family:lobster;
	font-size:27px;
	background: brown;
	color:white;
	padding: 11px;
	border-radius:5px;
}    
.btn{
	color: 
}
.off{
	font-family:lobster;
}